cowork-os/workflows/n8n-w4-health.json
{
  "name": "W4 · Daily Health Check",
  "active": false,
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "cronExpression": "15 8 * * *"}]}},
      "id": "cron",
      "name": "Cron · 0815 UK daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.email, COUNT(s.id) FILTER (WHERE s.delivery_status = 'bounced' AND s.sent_at > NOW() - INTERVAL '24 hours') as bounces, COUNT(s.id) FILTER (WHERE s.sent_at > NOW() - INTERVAL '24 hours') as sends FROM aliases a LEFT JOIN sends s ON s.alias_id = a.id WHERE a.status = 'active' GROUP BY a.id HAVING COUNT(s.id) FILTER (WHERE s.sent_at > NOW() - INTERVAL '24 hours') > 0"
      },
      "id": "alias-bounce-stats",
      "name": "Alias bounce rate 24h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Flag any alias > 5% bounce rate\nconst critical = $input.all().map(i => i.json).filter(a => a.sends > 0 && (a.bounces / a.sends) > 0.05);\nconst warn = $input.all().map(i => i.json).filter(a => a.sends > 0 && (a.bounces / a.sends) > 0.03 && (a.bounces / a.sends) <= 0.05);\nreturn [{json: {critical, warn, total_aliases: $input.all().length}}];"
      },
      "id": "evaluate",
      "name": "Evaluate thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({text: ':warning: *Daily Health Check · ' + new Date().toISOString().split('T')[0] + '*\\n\\nCritical (>5% bounce 24h): ' + $json.critical.length + '\\nWarn (3-5% bounce 24h): ' + $json.warn.length + '\\nTotal active aliases: ' + $json.total_aliases}) }}"
      },
      "id": "slack-rollup",
      "name": "Slack rollup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO health_check (domain, alias_bounce_summary_json, checked_at) VALUES ('tamazia.co.uk', $1::jsonb, NOW())"
      },
      "id": "log-health",
      "name": "Log to health_check table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Cron · 0815 UK daily": {"main": [[{"node": "Alias bounce rate 24h", "type": "main", "index": 0}]]},
    "Alias bounce rate 24h": {"main": [[{"node": "Evaluate thresholds", "type": "main", "index": 0}]]},
    "Evaluate thresholds": {"main": [[{"node": "Slack rollup", "type": "main", "index": 0}, {"node": "Log to health_check table", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
